.projects-page {
  h1 {
    color: #ffd700;
    font-size: 53px;
    margin-top: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;
    margin-bottom: 40px;
    left: 10px;
    text-align: center;
  }
  h2 {
    color: #fff;
  }
  text.description {
      color: #fff;
      font-family:sans-serif;
      font-weight: 50;
      min-width: fit-content;
      padding-right: 100px;
      display: block;
      white-space: break-spaces ;
      
    }
  span.resources {
      color: blue;
    }
  

  .video-container {
    position: relative;
    width: 600px;
    height: 400px;
    left: 30%;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }

  h2 {
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Coolvetica';
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
}

.container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
  left: 10%;
}
